<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>guest book</title>



</head>
<body>
<input type="text" class="gtitle" placeholder="카테고리추가">
<button type="button" onclick="setgcategory()">추가하기</button><br>
<div>
    <table class="guestlist">

    </table>
</div>
<div>
    제목 : <input type="text" class="gtitle">
    내용 : <input type="text" class="gcontent">
    작성자: <input type="text" class="gid">
    <button type="button" onclick="setgboard()">등록</button>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/Board/guestbook.js"></script>
</body>
</html>