<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>새로운 개발자 김원종 </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/OtHyW2q.jpeg">
    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        * {
            font-family: 'Pretendard-Regular';
            line-height: 180%;
        }

        .text {
            color: gray;
        }

        .title1 {
            width: 245%;
            text-align: center;
            color: rebeccapurple;
            border-bottom: 1px solid #c0c0c0;
            border-radius: 50%;
            margin-bottom: 28px;
        }

        .title2 {
            text-align: center;
            margin-left: 430px;
            margin-top: 25px;
        }


        #liveToastBtn {
            display: none;
        }

        .gold {
            color: gold;
            font-weight: bold;
        }

        .myprofile {
            width: 80%;
            height: 250px;
            border-radius: 10%;
            left: 200px;
        }

        a:link {
            color: black;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            transform: scale(3) !important;
            transition-duration: 0.5s !important;
            color: orange !important;
        }

        .carousel {
            width: 1000px;
            height: 680px;
        }

        .carousel-item {
            width: 100%;
            height: 100%;
        }
        .showSkill{
            display: none;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5">

            <h1 class="text title1"> ️Introduce :<br>
                my_self</h1>
        </div>
        <img class="myprofile " src="https://t1.daumcdn.net/cfile/tistory/2332AB46583234AF11">
        <div class="col-sm-8">
            <h1 class="text title2">👨‍💻Who_this_man?</h1><br>
            <h1>


            </h1>
            <p>
                반갑습니다. 새로운 개발자 개린이 김원종입니다.<br>
            </p>
        </div>
    </div>

    <table class="table  table-hover">
        <tr>
            <th class="text col-sm-4">🐣BirthDay</th>
            <td class="col-sm-8">
                🤚_my gender is male💪 1994_10_11 🐶
            </td>
        </tr>
        <tr>
            <th class="text col-sm-4">✉️_Email</th>
            <td class="col-sm-8">➡ mz1693@naver.com</td>
        </tr>
        <tr>
            <th class="text col-sm-4">📱_Phone</th>
            <td class="col-sm-8">➡ 010.9771.1693</td>
        </tr>
        <tr>
            <th class="text col-sm-4">🖥️_Github</th>
            <td class="col-sm-8">➡ <a href="https://github.com/Kimtree94">https://github.com/Kimtree94</a></td>
        </tr>
        <!--        <tr><th class="text col-sm-4">Velog</th> <td class="col-sm-8">➡ <a href="https://velog.io/@kinndohyun"> https://velog.io/@kinndohyun</a></td></tr>-->
        <!--        <tr><th class="text col-sm-4">Coding test level : <span class="gold">Gold5</span></th> <td class="col-sm-8">➡ <a href="https://solved.ac/profile/ehehwhdwhd">https://solved.ac/profile/ehehwhdwhd</a></td></tr>-->
    </table>
    <br>

    <table class="table table-striped">
        <h1 class="text">👨‍🎓Education</h1>
        <tr>
            <th class="col-sm-4">2014_02~.2016_02</th>
            <th class="col-sm-4">백석예술대학교_실용음악과_졸업🎤</th>
            <th class="col-sm-4">학점 4.3 / 4.5</th>
        </tr>
        <tr>
            <th class="col-sm-4">2022.08~2022.12</th>
            <th class="col-sm-4">⌨️_이젠컴퓨터아카데미 Web_App개발과정 수강</th>
            <th class="col-sm-4"></th>
        </tr>
        <tr>
            <th class="col-sm-4">2021_3_17~2021_6_23</th>
            <th class="col-sm-4">👨‍🎓_해밀교육원_경영학부_경영학사취득</th>
            <th class="col-sm-4">✍️_2021_12_13_경영학사_취득</th>
        </tr>
    </table>
    <br><br>
    <h1 class="text">💻_Skills</h1>
    <div class="showSkill" onclick="showSkill()">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/java-007396?style=for-the-badge&logo=java&logoColor=white">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/JSP-E34F26?style=flat-square&logo=Java&logoColor=white"></th>

        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/css-1572B6?style=for-the-badge&logo=css3&logoColor=white">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
        <img style="width: 120px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/mysql-4479A1?style=for-the-badge&logo=mysql&logoColor=white">
        <img style="width: 120px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/jquery-0769AD?style=for-the-badge&logo=jquery&logoColor=white">


        <img style="width: 118px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github&logoColor=white">
        <img style="width: 118px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/Notion-7B42BC?style=flat-square&logo=Notion&logoColor=white">
        <img style="width: 120px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/Eclipse%20IDE-2C2255.svg?&style=for-the-badge&logo=Eclipse%20IDE&logoColor=white">
        <img style="width: 120px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/IntelliJ%20IDEA-000000?style=flat-square&logo=IntelliJ%20IDEA&logoColor=white">
        <img style="width: 120px;height:65px;margin-bottom: 20px; height: 39px;"
             src="https://img.shields.io/badge/bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white">
    </div>
    <br><br>
    <h1 class="text">👨‍💼Career</h1>
    <table class="table table-striped">
        <tr>
            <th class="col-sm-4">안산 고려대학교병원 인턴</th>
            <td class="col-sm-8" rowspan="2">협업관련</td>
        </tr>
        <tr>
            <th class="col-sm-4">2021.02~2021.03</th>
        </tr>
        <tr>
            <th class="col-sm-4">안산 최재활의학과 정규직</th>
            <td class="col-sm-8" rowspan="2">협업관련</td>
        </tr>
        <tr>
            <th class="col-sm-4">2021.03~2022.04</th>
        </tr>
        <tr>
            <th class="col-sm-4">군포 힘정형외과 병가대체 계약직</th>
            <td class="col-sm-8" rowspan="2">협업관련</td>
        </tr>
        <tr>
            <th class="col-sm-4">2022.04~2022.07</th>
        </tr>
    </table>
    <br><br>
    <div class="row justify-content-md-center">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.postimg.cc/R0LFqcgV/chat.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item ">
                    <img src="https://i.postimg.cc/cHr99cgF/2048.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item ">
                    <img src="https://i.postimg.cc/FKfcLJXt/xxxxxxxxxxxxxxxxx.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br>

    <h1 class="text">Project_I_made✍</h1>
    <table class="table table-striped">
        <tr>
            <th class="col-sm-4">2022.09.01~2022.09.05 JS로 구현한 오목</th>
            <td class="col-sm-8" rowspan="2">💻 개발환경 : Html , Css , JavaScript <br> 한달동안 배운 내용들로 오목 알고리즘을 구현했습니다. <a
                    href="https://velog.io/@kinndohyun/Javascript%EB%A1%9C-%EC%98%A4%EB%AA%A9%EC%A7%9C%EA%B8%B0"> ➡
                Velog 설명 보기</a></td>
        </tr>
        <tr>
            <td class="col-sm-4"><a
                    href="https://github.com/dohyun2im/2022_Web_APP/tree/main/frontt/public/%EC%98%A4%EB%AA%A9%EA%B0%9C%EC%9D%B8%EA%B3%BC%EC%A0%9C.1month">Git</a>
            </td>
        </tr>


        <tr>
            <th class="col-sm-4">2022.09.16 Java console 2048 게임</th>
            <td class="col-sm-8" rowspan="2">💻 개발환경 : Java <br> 2달 차때 배운 Java로 콘솔 게임을 만들었습니다. <a
                    href="https://velog.io/@kinndohyun/Java-console-game-2048-%EC%BD%94%EB%93%9C-%EC%84%A4%EB%AA%85"> ➡
                Velog 설명 보기</a></td>
        </tr>
        <tr>
            <td class="col-sm-4"><a
                    href="https://github.com/dohyun2im/2022_Web_APP/tree/main/backend/src/chap1/%EC%9E%90%EC%9C%A0%EC%A3%BC%EC%A0%9C">Git</a>
            </td>
        </tr>


        <tr>
            <th class="col-sm-4">2022.10.24~2022.11.14 JSP 사내 메신저</th>
            <td class="col-sm-8" rowspan="4">💻 개발환경 : Jsp , Css , JavaScript , Java , Notion , Git , Bootstrap , JQuery
                , Eclipse<br> 팀원들과 함께 첫 프로젝트를 진행했습니다.
            </td>
        </tr>
        <tr>
            <td class="col-sm-4"><a href="https://github.com/gella11/TeamProject-Chatting">Git</a></td>
        </tr>
        <tr>
            <td class="col-sm-4"><a
                    href="https://better-colby-39d.notion.site/Company-Management-JSP-Web-Project-3250a8aba2fb4c4e90083e2da66ac3aa">Notion</a>
            </td>
        </tr>
        <tr>
            <td class="col-sm-4"><a href="https://www.youtube.com/watch?v=gCBzZfvebfI">시연 영상</a></td>
        </tr>

        <tr>
            <th class="col-sm-4">2021.12.01~2022.12.28 Spring 지역 익명 게시판</th>
            <td class="col-sm-8" rowspan="4">💻 개발환경 : Spring , IntelliJ , Css , JavaScript , React.js , Java , Notion ,
                Git , Bootstrap<br> 팀원들과 함께 지역 익명 게시판을 주제로 지도 위에 글을 띄웠습니다.
            </td>
        </tr>
        <tr>
            <td class="col-sm-4"><a href="https://github.com/gella11/TeamProject-Chatting">Git</a></td>
        </tr>
        <tr>
            <td class="col-sm-4"><a href="https://substantial-opal-c3a.notion.site/c4cc52db97954302adb8e1ded9b3dbc9">Notion</a>
            </td>
        </tr>
        <tr>
            <td class="col-sm-4"><a href="https://www.youtube.com/watch?v=gCBzZfvebfI">배포</a></td>
        </tr>
    </table>
    <br><br>

    <h1 class="text">👀대외 및 교외활동</h1>
    <table class="table table-striped">
        <tr>
            <th class="col-sm-4">군 스타트업 경진대회<br>2017.01~2017.03</th>
            <td class="col-sm-8"></td>
        </tr>
        <tr>
            <th class="col-sm-4">안산 다문화가족행복나눔센터<br>2020.07~2020.08</th>
            <td class="col-sm-8"></td>
        </tr>
        <tr>
            <th class="col-sm-4">안산시청 주관 우리가 만나는 안산 정책 만들기<br>2020.08~2020.11</th>
            <td class="col-sm-8"></td>
        </tr>
    </table>
    <br><br>

</div>
<button type="button" class="btn btn-primary" id="liveToastBtn">인사</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img width="20px" src="https://i.imgur.com/OtHyW2q.jpeg" class="rounded me-2">
            <strong class="me-auto">김도현</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            끝까지 읽어주셔서 감사합니다.
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }

    let swh = false;
    window.addEventListener('scroll', () => {
        console.log(window.scrollY)
        if (window.scrollY > 1000 && swh === false) {
            document.querySelector('#liveToastBtn').click();
            swh = true;
        }
    });

    function showSkill(){
        let showSkill = document.querySelector('.showSkill')

        showSkill.addEventListener('click',function () {
            showSkill.style.display='flex'
        })
    }
</script>
</body>
</html>